<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <div class = "mx-auto"style="width: 1000px;">
    <div class="mb-3">
      <h3 for="validationTextarea">Area de Texto</h3>
      <textarea rows = "25" cols="125" [(ngModel)]="texto" name = "texto"></textarea>
      <button type="button" class="btn btn-primary" (click)="compilarProyecto()">Compilar</button>
    </div>
  </div>
  
  <div class = "mx-auto"style="width: 1000px;">
    <div class="mb-3">
      <h3 for="validationTextarea">Consola</h3>
      <textarea readonly = "readonly" style="color: white; background-color: black;" rows = "15" cols="125" [(ngModel)]="resultado" name = "resultado"></textarea>
      <button type="button" class="btn btn-primary" (click)="limpiarConsola()">Limpiar Consola </button>
    </div>
  </div>
