<div class = "mx-auto"style="width: 1000px;" style="background-color: aqua;">
  <h1>Menu CRL</h1>  
  <ul class="nav">
    <li class="nav-item">
      <button type="button" class="nav-link" (click)="mostrarEditor()">Editor</button>
    </li>
    <li class="nav-item">
      <button type="button" class="nav-link" (click)="mostrarErrores()">Errores</button>
    </li>
    <li class="nav-item">
      <button type="button" class="nav-link" (click)="mostrarTablas()">Tablas</button>
    </li>
    <li class="nav-item">
      <button type="button" class="nav-link" (click)="mostrarGraficos()">Graficos</button>
    </li>
    <li class="nav-item">
    </li>
  </ul>

</div>
  <div [hidden]="hiddenEditor">
    <div class = "mx-auto"style="width: 1000px;">
      <div class="mb-3">
        <h3 for="validationTextarea">Area de Texto</h3>
        <button type="button" class="btn btn-primary" (click)="mostrarUpload()">Subir Archivo</button>
        <div style="padding: 10px; background-color: skyblue;" [hidden]="hiddenUpload">
            <input #fileUpload [accept]="'.crl'" type="file" class="file-input" (change)="subirCRL($event)">
            <button type="button" class="btn btn-primary" (click)="importarCRL()">Importar</button>    
        </div>
        <div class="col-md-11" >
          <ngx-codemirror [(ngModel)]="texto" row
          [options]="{
            lineNumbers: true,
            theme: 'material',
            tabSize: 4
          }" name = "texto"></ngx-codemirror>
      </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div style="padding-right: 20px;" class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="compilarProyecto()">Compilar</button>
          </div>
          <div  style="padding-right: 20px;" class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary" (click)="limpiarEditor()">Limpiar</button>
          </div>
          <div  style="padding-right: 20px;" class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary" (click)="graficar()">Graficar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary" (click)="descargarCRL()">Descargar</button>
          </div>
        </div>     
      </div>
    </div>
    
    <div class = "mx-auto"style="width: 1000px;">
      <div class="mb-3">
        <h3 for="validationTextarea">Consola</h3>
        <textarea readonly = "readonly" style="color: white; background-color: black;" rows = "15" cols="125" [(ngModel)]="resultado" name = "resultado"></textarea>
        <button type="button" class="btn btn-primary" (click)="limpiarConsola()">Limpiar Consola </button>
      </div>
    </div>
</div>

<div class = "mx-auto"style="width: 1000px;" [hidden]="hiddenErrores">
  <h1>Reporte de Errores</h1>
  <table class="table table-dark">
    <thead class="table-danger ">
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Mensaje</th>
        <th scope="col">Linea</th>
        <th scope="col">Columna</th>
      </tr>
    </thead>
    <tbody  *ngFor="let e of this.errores" >
      <tr>
        <td>{{e.tipo}}</td>
        <td>{{e.mensaje}}</td>
        <td>{{e.fila}}</td>
        <td>{{e.columna}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div id = "tablas" class = "mx-auto"style="width: 1000px;" [hidden]="hiddenTablas">
  <div *ngFor="let tab of this.tablas">
    <h1>Simbolos de la tabla dibujada en la fila: {{tab.fila}}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Valor</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fila</th>
          <th scope="col">Columna</th>
        </tr>
      </thead>
      <tbody  *ngFor="let col of tab.columnasTabla" >
        <tr>
          <td>{{col.id}}</td>
          <td>{{col.valor}}</td>
          <td>{{col.tipo}}</td>
          <td>{{col.fila}}</td>
          <td>{{col.columna}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id = "graficos" class = "mx-auto"style="width: 1000px;" [hidden]="hiddenGraficos"></div>

